* {
    margin: 0;
    padding: 0;
    border: 0;
}
header h1{
    margin: 0;
}

h1 img {
    height: 50px;
    float: left;
}

nav li {
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

body {
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    bottom: 0;
}

dt {
    display: inline-block;
    width: 70px;
    text-align: right;
    padding-right: 10px;
}

dd {
    display: inline-block;
    width: calc(100% - 80px);
}

footer, nav ul {
    position: fixed;
    background: linear-gradient(45deg, darkseagreen, darkseagreen 50%, whitesmoke);
    display: flex;
    justify-content: space-around;
    width: 100%;
    line-height: 50px;
}

footer {
    display: none;
}

p {
    margin: 10px 0;
    text-align: justify;
    text-indent: 20px;

}

h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

article {
    margin-right: 200px;
    margin-right: calc(190px + 5%);
    margin-left: 5%;
    margin-top: 80px;
    text-align: justify;
}

li {
    margin: 5px;
    margin-left: 20px;
}

em[id] {
    display: block;
    padding-top: 60px;
    margin-top: -60px;
}

.highlight {
    transition: background-color .6s;
    background-color: #AAAAAA;
}

aside {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    padding: 10px;
    width: 170px;
    background: linear-gradient(45deg, darkseagreen, darkseagreen 50%, whitesmoke);
}

@media (max-width: 500px) {
    aside {
        display: none;
    }

    article {
        margin-right: 5%;
    }

    footer {
        display: initial;
        text-align: center;
    }
}

@media (min-width: 901px) {
    .short {display: none;}
}
@media (min-width: 551px) and (max-width: 900px) {
    .long {display: none;}
}
@media (max-width: 550px) {
    .short, .long {display: none;}
}